body{
	background-image: url("../img/stripe.png");
	background-repeat: repeat;
	padding : 0 3px 0 3px;
}

#container{
	background-color: #f5f5f5;
	border-radius: 10px;
}

#left,#right{
	margin-left: 20px;
	background-color: orange;
	border-radius: 10px;
	padding : 0 5px 0 5px;
}

h3{
	text-transform: capitalize;
	word-spacing : 5px;
}

p{
	text-indent: 10px;
	text-align: justify;
	line-height: 1.5em;
}

p::first-line{
	font-weight: bold;
}

p::first-letter{
	font-size: 1.5em;
}

a:link{
	text-decoration: none;
}

a:visited{
	color: black;
}

a:hover{
	color:red;
	text-decoration: underline;
}

#left{
	float: bottom;
	margin-bottom: 1em;
	display: block;
}

q+q{
	margin-bottom: 0.5em;
}